<div class="col-xs-9">

<% @articles.each do |a| %>

<div class="article">
<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div class="title"><%= link_to a.title, article_path(a)%></div>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
     <div class="date"><%= a.created_at.strftime("%B %d, %Y") %></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="text"><%= truncate_html(a.text, length: 300,omission: link_to(' ...Leer más', article_path(a)))%></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <div class="comments">Comentarios <span class="badge"><%= a.comments.count %></span>

</div>
  </div>
</div>

</div>

<% end %>
</div>
<!-- aside -->
<div class="col-xs-3 ">
  <div class="aside"> <%= render 'last_article' %></div>
</div>
