<%= form_for :article,url: articles_path do |f| %>
<p>
<%= f.label :title, "Title" %>
<%= f.text_field :title %>
</p>
<p>
<%= f.label :text, "Text" %>
<%= f.text_area :text %>
</p>
<%= f.submit %>
<% end %>

<%= link_to 'back', articles_path %>
