<div class="col-xs-12">

<div class="article">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="title"><%= @article.title %></div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
       <div class="date"><%= @article.created_at.strftime("%B %d, %Y") %></div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="text"><%= @article.text.html_safe %></div>
    </div>
  </div>

</div>

</div>

 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div class="title">comments:</div>
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="article">
        <div class="comments-text">

        <%= render @article.comments %>
        </div>
    </div>
   </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

     <div class="comments-form">

     <%= render 'comments/form' %>

     </div>

   <%= link_to 'Back', articles_path ,class:"btn btn-info"%>
  </div>
</div>


