<div class="col-xs-12">

    <div class="article">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="title"><%= @article.title %></div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
           <div class="date"><%= @article.created_at.strftime("%B %d, %Y") %></div>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-center">
           <%= image_tag(Gravatar.new(@article.user.email).image_url+"?s=130", class:"img-circle") %>
           <p class="autor-name"><%= @article.user.name %></p>

        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="text"><%= @article.text.html_safe %></div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
           <% if current_user == @article.user %>

               <%= link_to "Editar", edit_article_path(@article), class:"
          glyphicon glyphicon-trash btn btn-success" %>
              <hr/>
               <%= link_to "eliminar", article_path(@article), method: :delete , data:{confirm:"Deseas eliminar"}, class:"
          glyphicon glyphicon-trash btn btn-danger"%>
            <% end %>
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

     <div class="title">comments:</div>


                <%= render @article.comments %>





   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

     <div class="comments-form">

     <%= render 'comments/form' %>

     </div>

   <%= link_to 'Back', articles_path ,class:"btn btn-info"%>
  </div>
</div>


